<style>
#ttop {
  color:#FDF9FF;
}
.li{
  font-size: 12px;
  text-align: left;
  color:#FDF9FF;
  background-color: orange;
  border: orange solid;
  padding-left: 20px;
  margin:0px;
  color:#FDF9FF;
}
.top{
  background-color: orange;
  border-bottom:50px orange solid;
  padding: 20px;
}
  h1,h2,h3,h4,h5,h6 {
   font-size: 12px;
   text-align: left;
}
body{
  font-size: 12px;
  color: #FDF9FF;
  background-color: #130059;
}
a {
  font-size: 12px;
  color:#FDF9FF;
  text-decoration: none;
}
</style>
